body {
    background-color: #f2ca81e0;
    text-align: center;
}

.navbar {
    background-color: #EAAA00;
    border-radius: 30px;
    margin: 20px 30px;
    padding: 10px 20px;
}

.info {
    font-family: "roboto-slab", serif;
    font-weight: 400;
    font-style: normal;
}

.about-box {
    font-family: "roboto-slab", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #BBE6F2;
}

.news-box {
    font-family: "roboto-slab", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #BBE6F2;
}
/*accordion*/
.accordion-item {
    border: none;
    margin-bottom: 3px;
}

.accordion-button {
    padding: 5px 12px;
    background-color: #B39051;
}

.accordion-button:not(.collapsed) {
    background-color: #051E39;
    color: white;
}

.accordion-button:focus {
    box-shadow: none;
}

.degree {
    background-color: #EAAA00;
}

/* Our Colleges*/
.our-colleges {
    text-align: center;
    margin: 20px;
}

.our-colleges h2 {
    margin-bottom: 10px;
}

.college-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    max-width: 700px;
    margin: auto;
}

.college-button {
    background-color: #B39051;
    color: black;
    text-decoration: none;
    padding: 3px 30px;
    border-radius: 8px;
    font-size: 20px;
}

li {
    font-family: "din-2014", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.college-button:hover {
    background-color: #8F713D;
}

/*footer*/
footer {
    background-color: #003057;
    color: white;
    text-align: left;
    padding: 20px;
}

.footer-2 {
    background-color: #003057;
    color: white;
    text-align: right;
    padding: 20px;
}

/*apply page*/
.apply-card {
    background-color: #12467d;
    border-radius: 12px;
    min-height: 150px;
    padding: 15px;
    margin-bottom: 20px;
    color: white;
}

.application-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #777;
    color: white;
    text-decoration: none;
}

    .application-link:last-child {
    border-bottom: none;
}

.arrow {
    font-size: 24px;
}

.large-card {
    background-color: #12467d;
    border-radius: 12px;
    min-height: 100px;
    padding: 20px 30px;
    margin-bottom: 20px;
    color: white;
}

.large-card a {
    color: white;
    text-decoration: none;
}

.apply {
    font-family: "adelle", serif;
    font-weight: 400;
    font-style: normal;
}